body {
    position: relative;
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/736x/94/4f/a4/944fa48d9947de0fe9d3e428ec66e99e.jpg');
    background-repeat: no-repeat;
}

#content-wrapper {
    padding-bottom: 2.5rem;
}

h1 {
    color: rgb(80, 151, 199);
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    padding-left: 150px;
    padding-top: 100px;
    margin-bottom: 50px;
    /* box-sizing: border-box; */
}

h2 {
    font-size: 18px;
    color: rgb(48, 182, 48);
    padding-left: 200px;
}

p {
    width: 300px;
    padding-left: 150px;
    font-size: small;
}

span {
    font-weight: bold;
    font-size: 15px;
}

/* h1:hover{
    color: white;
    border: 2px solid blue;
    background-color: black;
} */

.list-title {
    /* width: 300px; */
    /* display: block; */
    /* margin-left : 150px; */
    /* border: 2px white solid; */
    text-decoration: underline;
    font-size: 15px;
    padding-left: 50px;
}

li {
    font-size: 12px;
    list-style-type: none;;
}

#cart {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 250px;
}

#total {
    color: white;
    background-color: #3199CE;
    font-size: 2.5em;
    /* height: 50px; */
    display: inline;
    padding-left: 0;
}

#flex-container{
    display: flex;
    padding-left: 0px;
    padding-top: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-left: 155px;
}
